@* @model Menu *@
@{
    ViewData["Title"] = "Create Menu Page";
}

<form asp-route="CreateMenuApi" method="post" class="createForm">
    <div>
        <label for="Name">Menu Name:</label> @*asp-for*@
        <input name="Name" type="text" /> @*asp-for*@
        <span class="text-danger"></span> @* asp-validation-for="Name" *@
    </div>

    <div>
        <label for="Venue">Venue:</label> @*asp-for*@
        <select name="Venue"> @*asp-for*@
            <option value="">Select Venue</option>
            <option value="1">Venue name 1</option>
            <option value="2">Venue name 2</option>

            @* @foreach (Venue venue in Model.Venues)
            {
            <option value="@venue.Id">@venue.Name</option>
            } *@
        </select>
        <span class="text-danger"></span> @* asp-validation-for="Name" *@
    </div>
    <div>
        <label for="Name">Description:</label> @*asp-for*@
        <textarea name="Name" type="textarea"></textarea> @*asp-for*@
        <span class="text-danger"></span> @* asp-validation-for="Name" *@
    </div>
    <button type="submit">Add Menu</button>
</form>


<style>
    h1 {
        color: #333;
    }

    .createForm {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .createForm div {
        margin-bottom: 15px;
    } 

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .createForm div input[type="text"],
    .createForm div input[type="date"],
    .createForm div input[type="email"],
    .createForm div select,
    .createForm div textarea {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button {
        background-color: #5cb85c;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #4cae4c;
    }
</style>