<section class="section_container banner_container" id="special">
    <div class="banner_card">
        <h4>MOST POPULAR VENUES</h4>
    </div>
    <div class="banner_card">
        <p>TRY IT OUT TODAY</p>
        <h4>MORE FUN<br />MORE TASTE</h4>
    </div>
    <div class="banner_card">
        <p>TRY IT OUT TODAY</p>
        <h4>FRESH & CHILI</h4>
    </div>
</section>

<section class="section_container order_container" id="menu">
    <h3>ALWAYS TASTE WITH US</h3>
    <h2 class="section_header">CHOOSE & ENJOY</h2>
    <p class="section_description">
        Discover a world of flavor at TasteTrail, where classic tastes meet bold new creations. Whether you're in
        the mood for time-honored favorites or innovative culinary experiments, this is your destination. Indulge in
        a personalized burger experience like no other with Burger Company. Savor every bite and let your taste buds
        explore new horizons.
    </p>
    <div class="order_grid">
        <div class="order_card">
            <img src="assets/order-1.png" alt="order" />
            <h4>Grilled Steak</h4>
            <p>
                Savor the rich, succulent flavors of our Grilled Steak, expertly prepared to highlight the natural
                tenderness of premium cuts. Perfectly seasoned and cooked to your preferred level of doneness, this
                dish offers a hearty and satisfying experience with each bite. Indulge in a culinary classic that
                embodies excellence and flavor.
            </p>
            <!-- <button class="btn">ORDER NOW</button> -->
        </div>
        <div class="order_card">
            <img src="assets/order-2.png" alt="order" />
            <h4>Food Pyramid Plate</h4>
            <p>
                Discover a balanced and nutritious meal with our Food Pyramid Plate. This dish beautifully
                incorporates elements from each food group, offering a harmonious blend of proteins, grains,
                vegetables, and fruits. Enjoy a thoughtfully crafted plate that promotes healthy eating while
                delivering delicious and satisfying flavors.
            </p>
            <!-- <button class="btn">ORDER NOW</button> -->
        </div>
        <div class="order_card">
            <img src="assets/order-3.png" alt="order" />
            <h4>Gourmet Pizza</h4>
            <p>
                Delight in the rich, savory taste of our Gourmet Pizza, crafted with the finest ingredients and
                baked to perfection. Each slice features a crispy, golden crust topped with a blend of fresh,
                high-quality cheeses, vibrant vegetables, and your choice of premium meats. Enjoy a mouthwatering
                experience that brings together classic flavors and inventive combinations for a truly exceptional
                pizza.
            </p>
            <!-- <button class="btn">ORDER NOW</button> -->
        </div>
    </div>
</section>

<section class="reservation" id="contact">
    <div class="section_container reservation_container">
        <h2 class="section_header">Contact Us</h2>
        <form action="/">
            <input type="text" placeholder="Name" />
            <input type="email" placeholder="Email" />
            <textarea placeholder="Message"></textarea>
            <button class="btn mybtn" type="submit">Send Email</button>
        </form>
    </div>
    <img src="assets/reservation-bg-1.png" alt="reservation" class="reservation_bg-1" />
    <img src="assets/reservation-bg-2.png" alt="reservation" class="reservation_bg-2" />
</section>
