@using System.Security.Claims

@{
    var IsAuthenticated = base.User.Identity?.IsAuthenticated ?? false;
    var IsAdmin = base.User.IsInRole("Admin");
    var Name = base.User.Identity?.Name;

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <title>@ViewData["Title"] - TasteTrailApp Services</title>
</head>

<body>
    <header class="header">
        <nav>
            <div class="nav_header">
                <div class="nav_logo">
                    <a asp-controller="Home" asp-action="Index">
                        <img src="~/Assets/logo-dark.png" alt="logo" class="nav_logo-dark" />
                    </a>
                </div>
                <div class="nav_menu_btn" id="menu-btn">
                    <i class="ri-menu-line"></i>
                </div>
            </div>

            <ul class="nav_links" id="nav-links">
                <li> <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
                @if (IsAdmin)
                {
                    <li><a class="nav-link" asp-controller="AdminPanel" asp-action="Dashboard">Dashboard</a></li>
                    <li><a class="nav-link" asp-controller="User" asp-action="Index">Users</a></li>
                }
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Services
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Venue" asp-action="Index">Venue
                                Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="Index">Menu
                                Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MenuItem" asp-action="Index">Menu
                                Item
                                Page</a>
                        </li>
                    </ul>
                </li>
                @if (IsAuthenticated)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false"> Hello, @Name </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" asp-route="UserInfo">Account</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" asp-route="LogOut">Logout</a></li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Authorize
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" asp-route="LoginView">Login</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" asp-route="RegistrationView">Registration</a></li>
                        </ul>
                    </li>
                }

            </ul>
        </nav>
    </header>

    <div class="container mt-5 mb-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<footer class="footer">
    <div class="section_container footer_container">
        <div class="footer_logo">
            <img src="~/Assets/logo-white.png" alt="logo" />
        </div>
        <div class="footer_content">
            <p>
                Welcome to TasteTrail, where a love for exceptional cuisine and heartfelt hospitality converge. Our
                story is a journey of dedication to creating unforgettable dining experiences, from selecting the
                highest quality ingredients to serving dishes that delight in every bite. Join us and savor the
                passion we pour into every meal as we bring you a taste of excellence and a commitment to culinary
                perfection.
            </p>
            <div>
                <ul class="footer_links">
                    <li>
                        <span><i class="ri-map-pin-2-fill"></i></span>
                        MG Road, Bangalore, 500089
                    </li>
                    <li>
                        <span><i class="ri-mail-fill"></i></span>
                        info@tasteTrail.com
                    </li>
                </ul>
                <div class="footer_socials">
                    <a href="#"><i class="ri-facebook-circle-fill"></i></a>
                    <a href="#"><i class="ri-instagram-fill"></i></a>
                    <a href="#"><i class="ri-twitter-fill"></i></a>
                    <a href="#"><i class="ri-whatsapp-fill"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

</html>

<style>
    main {
        padding: 2rem;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    }

    .footer {
        margin-top: 10rem;
    }
</style>
