@using System.Security.Claims

@{
    var IsAuthenticated = base.User.Identity?.IsAuthenticated ?? false;
    var Name = base.User.Identity?.Name;
    var IsAdmin = base.User.IsInRole("Admin");
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>@ViewData["Title"] - TasteTrailApp</title>
</head>

<body>
    <header class="header">
        <nav>
            <div class="nav_header">
                <div class="nav_logo">
                    <a asp-controller="Home" asp-action="Index">
                        <img src="assets/logo-dark.png" alt="logo" class="nav_logo-dark" />
                        <img src="assets/logo-white.png" alt="logo" class="nav_logo-white" />
                    </a>
                </div>
                <div class="nav_menu_btn" id="menu-btn">
                    <i class="ri-menu-line"></i>
                </div>
            </div>
            <ul class="nav_links" id="nav-links">
                <li> <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a> </li>
                <li><a class="nav-link" href="#special">Special</a></li>
                <li><a class="nav-link" href="#menu">Menu</a></li>
                <li><a class="nav-link" href="#contact">Contact Us</a></li>
                @if (IsAdmin)
                {
                    <li><a class="nav-link" asp-controller="AdminPanel" asp-action="Dashboard">Dashboard</a></li>
                }
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Services
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Venue" asp-action="Index">Venue
                                Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="Index">Menu
                                Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MenuItem" asp-action="Index">Menu
                                Item
                                Page</a>
                        </li>
                    </ul>
                </li>

                @if (IsAuthenticated)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false"> Hello, @Name
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" asp-route="UserInfo">Account</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" asp-route="LogOut">Logout</a></li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Authorize
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" asp-route="LoginView">Login</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" asp-route="RegistrationView">Registration</a></li>
                        </ul>
                    </li>
                }

            </ul>
        </nav>
        <div class="section_container header_container" id="home">
            <div class="header_image">
                <img src="~/Assets/header.png" alt="header" />
            </div>
            <div class="header_content">
                <h2>IT IS GOOD TIME FOR THE GREATEST TASTE OF US</h2>
                <h1>Travel<br /><span>Week</span></h1>
            </div>
        </div>
    </header>

    @RenderBody()

    <script src="https://unpkg.com/scrollreveal"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<footer class="footer">
    <div class="section_container footer_container">
        <div class="footer_logo">
            <img src="assets/logo-white.png" alt="logo" />
        </div>
        <div class="footer_content">
            <p>
                Welcome to TasteTrail, where a love for exceptional cuisine and heartfelt hospitality converge. Our
                story is a journey of dedication to creating unforgettable dining experiences, from selecting the
                highest quality ingredients to serving dishes that delight in every bite. Join us and savor the
                passion we pour into every meal as we bring you a taste of excellence and a commitment to culinary
                perfection.
            </p>
            <div>
                <ul class="footer_links">
                    <li>
                        <span><i class="ri-map-pin-2-fill"></i></span>
                        MG Road, Bangalore, 500089
                    </li>
                    <li>
                        <span><i class="ri-mail-fill"></i></span>
                        info@tasteTrail.com
                    </li>
                </ul>
                <div class="footer_socials">
                    <a href="#"><i class="ri-facebook-circle-fill"></i></a>
                    <a href="#"><i class="ri-instagram-fill"></i></a>
                    <a href="#"><i class="ri-twitter-fill"></i></a>
                    <a href="#"><i class="ri-whatsapp-fill"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

</html>

<style>
    .btn {
        padding: 1rem 1.5rem;
        outline: none;
        border: none;
        font-size: 1rem;
        color: var(--black) !important;
        background-color: #df1c1c !important;
        transition: 0.3s;
        cursor: pointer;
    }

    .btn:hover {
        background-color: var(--primary-color);
    }
</style>